<h1>Freejouster</h1>
<p>Tradicionalmente, o termo "freelance" se refere a uma unidade de infantaria [um lancer] preenchida por um mercenário [free = unsworn to a lord]</p>
<p>Fora da atividade militar, era comum que homens de armas [não necessariamente nomeados cavaleiros] participassem de treinamentos e competições incluindo duelos esportivos, em especial as justas.</p>
<p>A sociedade evoluiu e o freelancing também, sendo praticado por todas as classes da sociedade e em todos os tipos de lugares:</p>
<img src='https://c.tenor.com/DiUJhQcgALsAAAAC/airport-jousting.gif' alt='depiction of modern freelancing'>

<h3>Bem vindo, caro freelancer, ao site que conecta você às melhores oportunidades em sua área profissional!</h3>
