<style>
h1 {
  text-align:center
}

body{
  background-color:#a9aacc
}
div {
  width: 45%;
  border: 1px
  padding: 5px;
}
#leftbox{
  float:left
}
#rightbox{
  float:right
}
</style>


<h1> Bem vindo ao Freejouster! </h1>
<div id=rightbox>
<h3>Freejousting: sportive freelancing</h3>
<p>Tradicionalmente, o termo "freelance" se refere a uma unidade de infantaria [um lancer] preenchida por um mercenário [um homem de armas não juramentado a um lorde, ou seja, "free"].</p>
<p>Fora da atividade militar, era comum que cavaleiros participassem de competições conhecidas como hastiludes, que incluíam diversos combates esportivos, em especial as justas.</p>
<p>A sociedade evoluiu e o freelancing também, sendo praticado por todas as classes da sociedade e em todos os tipos de lugares:</p>
<img src='https://c.tenor.com/DiUJhQcgALsAAAAC/airport-jousting.gif' alt='depiction of modern freelancing'>
</div>

<div id=leftbox>
<h3>Bem vindo, caro freelancer, ao site que conecta você às melhores oportunidades em sua área profissional!</h3>

<h2>Selecione a função desejada:</h2>

<%=link_to 'Tenho um projeto e procuro alguém para criá-lo', '#' %>
<br>
<%=link_to 'Tenho uma skill e procuro um projeto onde usá-la', '#' %>
</div>
