<h1>Meus projetos</h1>
<% if @project.empty? then %>
  Você ainda não cadastrou nenhum projeto
  <%= link_to 'Cadastrar projeto', new_project_path %>
<% end %>
<% @project.each do |p| %>
  <div>
    <h3><%= link_to p.title, project_path(p.id) %>
      <% if p.status == 'encerrado' then %>
        (encerrado)
      <% elsif p.status == 'fechado' then %>
        (fechado)
      <%end%></h3>
    <p> <%= p.description %></p><br>
  </div>
<%end%>
