<h1>Minhas propostas</h1>
<% if @proposal.nil? then %>
  Você ainda não se candidatou em nenhum projeto
<% else %>
  <% @proposals.each do |p| %>
    <div>
      <h3><%= link_to p.project, project_path(p.id) %></h3>
    </div>
  <%end%>
<%end%>
