<% p = @proposal %>
<h6> Motivo para a rejeição da proposta de <%= p.user.user_profile.social_name %>: </h6>
<% form_for @proposal do |f| %>
  <%= f.label :justification, 'Motivo' %>
  <%= f.text_field :justification %>
  <%= f.submit 'Enviar' %>
<%end%>
